$_monkey: #545454;
$_ant: #f3921b;
$_giraffe: #ffffff;
$_possum: #222222;
$_fly: #b5b5b5;

$color-body-text: $_possum;

$color-link-text: $_monkey;
$color-link-light-text: $_giraffe;
$color-link-white-text: $_giraffe;
$color-link-text-hover: $_ant;

$color-header-logo-text: $_monkey;

$color-upsell-background: $_giraffe;
$color-upsell-text: $_possum;

$color-button-background: $_ant;
$color-button-text: $_giraffe;
$color-button-background-hover: $_monkey;
$color-button-white-background: $_giraffe;
$color-button-white-text: $_ant;


$color-link-text: $_monkey;

$color-carousel-gradient: $_giraffe;

$color-metadata-title-text: $_possum;

$color-form-error-text: #ec0202;

$color-block-text-background: $_giraffe;
$color-block-text-text: $_possum;

$color-hero-background: $_monkey;
$color-hero-content-background: $_giraffe;
$color-hero-content-text: $_possum;
$color-hero-text: $_giraffe;

$color-sounds-player-progress: $_fly;
$color-sounds-player-button: $_ant;

$color-module-title-light-text: $_giraffe;